[submodule ".config/nvim-astro"]
	path = .config/nvim-astro
	url = https://github.com/AstroNvim/AstroNvim
[submodule ".config/nvim-user"]
	path = .config/nvim-user
	url = https://github.com/rzabcio/astronvim.git
