../.config/nvim/plugin/packer_compiled.lua
.config/nvim-astro_backup202409/**
.config/nvim-astro/lazy-lock.json
.config/nvim/nvim
.config/nvim/plugin/packer_compiled.lua
.config/ranger/ranger
.tmuxp/.tmuxp
.vifm/.vifm
.vifm/vifminfo*
.vifm/vifminfo.json
.vim/autoload/autoload
nvim/nvim
nvim/plugged
