.vim/autoload/autoload
.vifm/vifminfo.json
.vifm/.vifm
.tmuxp/.tmuxp
nvim/plugged
nvim/nvim
.vifm/vifminfo*
.config/nvim/nvim
.config/ranger/ranger
.config/nvim/plugin/packer_compiled.lua
../.config/nvim/plugin/packer_compiled.lua
.config/nvim-astro_backup202409/**
